<launch>
	<arg name="pkg_name" value="respeaker"/>
	<arg name="node_name" value="sound_play"/>
	<arg name="veh" doc="a veh"/>
	<arg name="con" doc="continue playing or save to file"/>

	<group ns = "$(arg veh)">
		<group unless="$(arg con)">
			<node pkg="$(arg pkg_name)" type="listen_music.py" name="$(arg node_name)"  output="screen">
				<param name="veh" value="$(arg veh)" />
			</node>
		</group>
		<group if="$(arg con)">
			<node pkg="$(arg pkg_name)" type="listen_music_continue.py" name="$(arg node_name)"  output="screen">
				<param name="veh" value="$(arg veh)" />
			</node>
		</group>
	</group>

</launch>
